<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
    <meta charset="UTF-8">
    <title>coffeScriptNodeTest</title>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="UserCtrl">

<pre>
User: {{user | json}}
</pre>

<form>
    <input type="text" placeholder="text here"/>
    <input type="text" ng-if="user.role == 'admin'" placeholder="secret text"/>
</form>

</body>
</html>